<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <h1 class="app-name">
      Chart Application</h1>
    <form class="radio-form">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-radio-button class="radio" [required]="false" (click)="ngChart()">Ng Charts</mat-radio-button><mat-radio-button class="radio" [required]="false" (click)="ngxChart()">Ngx Charts</mat-radio-button></div>
    </form>
  </div>
  <div class="dropdown">
    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
      <mat-label></mat-label>
      <mat-select placeholder="Select" [required]="false" (selectionChange)="sd_zq8SW4VuuAPSxuur($event)">
        <ng-template ngFor let-option [ngForOf]="page.data" let-i="index">
          <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
        </ng-template>
      </mat-select>

    </mat-form-field>
  </div><router-outlet></router-outlet>
</div>