/*Importing default angular material css theme. */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

.class1 {
  border-radius:10px;
  flex-basis:10%;
  height:300px;
}
.class2 {
  border-radius:10px;
  flex-basis:10%;
  height:300px;
}

body {
    background-color: white;
}

.app-name {
    text-align: center;
}

.radio-form {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.radio {
    margin: 30px;
}

.dropdown {
    display: flex;
    justify-content: center;
}

.chart {
    margin-left: 20%;
    margin-top: 3rem;
}

.piechart {
    width: 7rem;
    height: 7rem;
}